div.page-movies {
  display: flex;
  flex-direction: column;
  gap: 20px;

  > ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20%, auto));
    gap: 16px;

    > li {
      a {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        gap: 8px;
        opacity: 0.8;
        transition: opacity 0.3s ease-out;

        &:hover {
          opacity: 1;
        }

        img {
          width: 100%;
          border-radius: 16px;
        }

        h5 {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }
    }
  }
}
